#app {
  height: 100%;
}
.navbar {
  margin-bottom: 0;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.post-btn, .post-btn:hover {
  background-color: #5400FF !important;
  border-radius: 5px;
  color: white !important;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px !important;
  padding: 3px 20px !important;
  margin-top: 10px;
}

.search-box {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #080A30;
  margin-top: 6px;
  color: #080A30;
}

.search-box::-webkit-input-placeholder {
  color: #080A30;
}

.search-box:focus {
  outline: none;
}

.nav-account {
  color: #080A30;
}

.navbar-center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  display: inline-flex;
  left: 0;
  right: 0;
}

.navbar-center li {
  position: relative;
  margin: auto;
}

.form-control {
  margin-right: 5px;
}
.main {
  background-color: white;
}
.navbar-side {
  background-color: #080A30;
}
.navbar-side .divider-full {
  border-bottom: 1px solid white;
}
.navbar-side-container,
.main-container {
  padding: 0;
}
.main {
  padding: 20px;
}
.current-category {
  color: #FA6600;
  font-weight: 600;
}
.filtering-by {
  margin-left: 10px;
}
.navbar-side {
  padding: 20px;
  height: 100vh;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}

.category-list {
  margin-top: 10px;
}

.category-list li {
  font-size: 16px;
  line-height: 24px;
  color: #8F92CC;
}

.category-list li:hover,
.active {
  cursor: pointer;
  color: white;
}

.category-list li:focus,
.category-list li:visited,
.category-list li:active {
  text-decoration: none;
}

.category-list li a {
  color: inherit;
}

.category-list li a:hover,
.category-list li a:focus,
.category-list li a:visited,
.category-list li a:active {
  text-decoration: none;
}

.divider-full {
  position: relative;
  height: 10px;
  border-bottom: 1px solid black;
  left: 0;
  bottom: 0;
  width: 100%;
}

.posts li {
  background: #dadada;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.votes {
  margin-top: 20px;
}

.votes a {
  display: block;
}

.votes a:hover {
  cursor: pointer;
}

.votes-numb {
  font-size: 24px;
  line-height: 24px;
  margin: 8px 0px;
  display: block;
}

.post-img img {
  width: 100%;
}

.post-content h4 {
  font-size: 20px;
  color: #732cf3;
  margin-bottom: 5px;
}

.post-content p {
  font-size: 14px;
  line-height: 20px;
}

.username,
.posted-details {
  margin-right: 5px;
  font-size: 14px;
  line-height: 22px;
}

.username {
  font-weight: 600;
}

.tag-list {
  display: inline-block;
  margin-right: 10px;
}

.tag-list li {
  display: inline-block;
  background: #732cf3;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  margin: 0 0 0 5px;
}

.tag-list li::before {
  content: '#';
}

.add-filter a {
  font-size: 14px;
  color: #5400FF;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group small {
  color: #dadada;
  font-size: 11px;
  line-height: 15px;
}

.error-msg {
  color: #b70000;
  margin-left: 10px;
  font-size: 14px;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

.login-container {
  background-color: #080A30;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.login-container .footer {
  background-color: #353879;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  color: white;
  font-weight: 200;
}

.login-container .footer a {
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.signup-main, .login-main, .spaceman {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  display: table;
}

.spaceman {
  top: 0;
  bottom: 0;
}

.signup-main, .login-main {
  color: white;
  font-weight: 200;
  top: 0;
  bottom: 100px;
}

.signup-main input, .login-main input {
  background-color: white;
  color: #FA6600;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: 3px solid #FA6600;
  padding: 18px;
  margin-bottom: 10px;
}

.signup-main input {
  border: 3px solid #5400FF;
  color: #5400FF;
}

.signup-main input::-webkit-input-placeholder,
.login-main input::-webkit-input-placeholder {
  color: #FA6600;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400; 
}

.signup-main input::-webkit-input-placeholder {
  color: #5400FF;
}

.signup-main input:focus {
  border: 3px solid #5400FF;
}

.login-main input:focus {
  border: 3px solid #FA6600;
}

.signup-main span,
.login-main span {
  display: block;
}

.login-main button,
.login-main button:hover {
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #FA6600;
  border-radius: 5px;
  border: 3px solid #FA6600;
}

.signup-main button,
.signup-main button:hover {
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #5400FF;
  border-radius: 5px;
  border: 3px solid #5400FF;
}

.login-main button:hover,
.login-main button:focus {
  background-color: #ff8d3e;
}

.signup-main button:hover,
.signup-main button:focus {
  background-color: #6e26ff;
}

/*==================================*/
/*============ Spacing =============*/
/*==================================*/

.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt5 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}
.pt45 {padding-top: 45px;}
.pt50 {padding-top: 50px;}
.pt55 {padding-top: 55px;}
.pt60 {padding-top: 60px;}
.pt65 {padding-top: 65px;}
.pt70 {padding-top: 70px;}
.pt75 {padding-top: 75px;}
.pt80 {padding-top: 80px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb5 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb35 {padding-bottom: 35px;}
.pb40 {padding-bottom: 40px;}
.pb45 {padding-bottom: 45px;}
.pb50 {padding-bottom: 50px;}
.pb55 {padding-bottom: 55px;}
.pb60 {padding-bottom: 60px;}
.pb65 {padding-bottom: 65px;}
.pb70 {padding-bottom: 70px;}
.pb75 {padding-bottom: 75px;}
.pb80 {padding-bottom: 80px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt5 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mt50 {margin-top: 50px;}
.mt55 {margin-top: 55px;}
.mt60 {margin-top: 60px;}
.mt65 {margin-top: 65px;}
.mt70 {margin-top: 70px;}
.mt75 {margin-top: 75px;}
.mt80 {margin-top: 80px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px;}
.mb45 {margin-bottom: 45px;}
.mb50 {margin-bottom: 50px;}
.mb55 {margin-bottom: 55px;}
.mb60 {margin-bottom: 60px;}
.mb65 {margin-bottom: 65px;}
.mb70 {margin-bottom: 70px;}
.mb75 {margin-bottom: 75px;}
.mb80 {margin-bottom: 80px;}

/*==================================*/
/*============ RESET =============*/
/*==================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.logo {
  height: 50px;
}
